
*.xcworkspacedata

*.xcworkspacedata

*.xcuserstate

Ecommerce/Ecommerce.xcodeproj/xcuserdata/nikhildhavale.xcuserdatad/xcschemes/xcschememanagement.plist

Ecommerce/Ecommerce.xcodeproj/project.xcworkspace/contents.xcworkspacedata

Ecommerce/Ecommerce.xcodeproj/xcuserdata/nikhildhavale.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
